<!-- home.html -->
<div
  class="hero-bg d-flex align-items-center justify-content-center text-white text-center position-relative"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="display-1 fw-bold mb-4">Welcome to ShopEasy</h1>
        <p class="lead fs-2 mb-5 opacity-75">
          Everything you need, right here!
        </p>
        <button
          class="btn btn-light btn-lg px-5 py-3 fs-4 fw-semibold shadow"
          routerLink="/products"
        >
          <i class="bi bi-bag me-2"></i> Get what you want
        </button>
      </div>
    </div>
  </div>
</div>
